.SunriseAndZawwalWrapper {
  margin-top: 70px;
  width: 100%;
  font-size: 3em;
}

.SunriseAndZawwalTable {
  float: right;
  padding-right: 50px;
}

.SunriseAndZawwalTable td {
  min-width: 150px;
}

.SunriseAndZawwalTable th,
.SunriseAndZawwalTable td {
  font-weight: normal;
  text-align: right;
  padding-left: 115px;
}
