.SunriseAndZawwalWrapper {
  margin-top: 30px;
  width: 100%;
  font-size: 3em;
}

.SunriseAndZawwalTable {
  float: right;
  padding-right: 25px;
}

.SunriseAndZawwalTable td {
  min-width: 150px;
}

.SunriseAndZawwalTable th,
.SunriseAndZawwalTable td {
  text-align: right;
  padding-left: 75px;
}
