.PrayerTimesWeekAheadWrapper {
  width: 100%;
}

.PrayerTimesWeekAhead {
  color: white;
  margin: 0 auto;
}

.PrayerTimesWeekAhead thead tr th {
  font-size: 3em;
}

.PrayerTimesWeekAhead td {
  font-size: 2em;
  text-align: center;
  padding: 5px 15px 5px;
}

.PrayerTimesWeekAhead th:first-child {
  text-align: right;
}

.PrayerTimesWeekAhead td:first-child {
  text-align: right;
}
