.ClockWrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 15px;
  background-color: white;
  float: left;
  font-weight: 900;
}

.Clock {
  font-size: 3em;
  min-height: 60px;
  color: #380412;
}
