.ClockWrapper {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: auto;
  padding: 15px;
  background-color: white;
  float: left;
  font-weight: 900;
}

.Clock {
  font-size: 8em;
  min-height: 60px;
  color: #0d6554;
}

@media only screen and (max-width: 600px) {
  .Clock {
    font-size: 4em;
  }
}
