.AdditionalMessageWrapper {
  text-align: center;
  margin: 0 auto;

  font-size: 36px;
}

.AdditionalMessageWrapper .top {
}

.AdditionalMessageWrapper .middle {
  font-weight: bold;
  font-size: 42px;
}

.AdditionalMessageWrapper .bottom {
}
