.AdditionalMessageWrapper {
  text-align: center;
  margin: 0 auto;

  font-size: 4em;
  margin-top: 100px;
}

.AdditionalMessageWrapper p {
  margin: 20px;
}

.AdditionalMessageWrapper .middle {
  font-weight: bold;
  font-size: 1.3em;
}
