.JummahTimesWrapper {
  width: 100%;
  font-size: 3em;
}

.JummahTimesTable {
  float: right;
}

.JummahTimesTable td {
  min-width: 150px;
}

.JummahTimesTable th,
.JummahTimesTable td {
  text-align: right;
  padding-left: 50px;
}
