.PrayerTimes {
  font-size: 2em;
  text-align: right;
  color: white;
  transform: translateX(100%);
  margin-right: 20px;
}

.PrayerTimes th {
  font-weight: bolder;
  font-size: 1em;
}

.PrayerTimes td,
.PrayerTimes th {
  margin: 150px;
}

.PrayerTimes th:first-child {
  font-size: 1.2em;
  text-align: left;
}

.PrayerTimes .mithl-text {
  font-size: 0.5em;
  max-width: 50px;
}

.PrayerTimes td {
  min-width: 100px;
}

.PrayerTimes td:last-child {
  font-weight: bolder;
}
