.AdminContent {
  display: flex;
  height: 100px;
  justify-content: left;
  background-color: #2772bd;
  margin-bottom: 100px;
}
.SlideContent {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #686868;
}
.child {
  margin: auto;
  width: 100px;
  height: 100px;
}

img {
  height: 200px;
  width: 200px;
}
