body {
  max-width: 100%;
  padding: 10px;
  padding-top: 0px;
  font-family: 'PT Sans', sans-serif;
  background: linear-gradient(to right, #52071e 50%, #380412 50%);
  color: #fff;
}

h1 {
  font-size: 50px;
}
