body {
  max-width: 100%;
  padding: 20px;
  padding-top: 0px;
  font-family: 'PT Sans', sans-serif;
  background: linear-gradient(to right, #11846d 50%, #0d6554 50%);
  color: #fff;
}

h1 {
  font-size: 50px;
}
