.NextJamahTimeWrapper {
  width: 100%;
}

.NextJamahTime {
  font-size: 4em;
  text-align: center;
  color: white;
  margin: 0 auto;
  margin-top: 25vh;
  padding-left: 50px;
}

.NextJamahTime td,
.NextJamahTime th {
  margin: 150px;
}

.NextJamahTime th:first-child {
  font-weight: lighter;
}

.NextJamahTime td {
  min-width: 100px;
  font-size: 1.6em;
}

.NextJamahTime td:last-child {
  font-weight: bolder;
}
