.HadithOfTheDayWrapper {
  width: auto;
  display: block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 50px;
}

@media only screen and (max-width: 991px) {
  .HadithOfTheDayWrapper {
    width: 90%;
    margin-top: 10px;
    padding: 10px;
  }
}

.Hadith {
  font-size: 30px;
}

.HadithSource {
  font-size: 22px;
  margin: inherit;
}
